#testbutton {
    width: 23em;
    height: 50px;
    border-radius: 180px;
    position: relative;
    margin: auto;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    cursor: pointer;
    line-height: 12px;
}

.materi {
    display: none;
}

#testbutton:before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    transition: 0.3s opacity ease-in-out;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:hover:before {
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
    filter: blur(25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:after {
    content: 'Tahapan Discovery Learning';
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: rgba(235, 235, 235, 1);
    font-weight: bold;
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 180px;
    width: 92%;
    height: 80%;
    top: 10%;
    left: 4%;
    background-color: rgb(19, 20, 22);
}

.bg-gradient1 span,
.bg-gradient1:before {
    background: #52a0fd;
    background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
}

.bg-gradient2 span,
.bg-gradient2:before {
    background: #44ea76;
    background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
}

.bg-gradient3 span,
.bg-gradient3:before {
    background: #fa6c9f;
    background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
}

.divco {
    padding: 0.4em 1em;
    background: transparent;
    border-radius: 6px;
    font-weight: 400;
}

.blue span {
    background: linear-gradient(to left, #3dade9, #bf2fcb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.selected {
    background-color: #a3f1a3 !important;
}

.blue {
    box-shadow: -1px 0 0 1px rgba(61, 173, 233, 0.75), -1px -1px 0 1px rgba(94, 142, 226, 0.25), -1px 1px 0 1px rgba(94, 142, 226, 0.25), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 0 1px 0 1px rgba(126, 110, 218, 0.5), 1px -1px 0 1px rgba(159, 79, 211, 0.25), 1px 1px 0 1px rgba(159, 79, 211, 0.25), 1px 0 0 1px rgba(191, 47, 203, 0.75);
}

.blue {
    border-left: 2px solid #3dade9;
    border-right: 2px solid #bf2fcb;
    background-image: linear-gradient(to left, #bf2fcb, #3dade9), linear-gradient(to left, #bf2fcb, #3dade9);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: padding-box;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 238px;
    background: rgba(48, 238, 226, 1);
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
    left: -222px
}

.sidebar .logo-details {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 1.5em;
    color: #77619e;
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 1.2em;
    color: #77619e;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 0 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #f3f1f6;
}

.sidebar .sub-menu li:hover {
    background: none;
    color: #77619e;
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link {
    display: block;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #77619e;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 1em;
    font-weight: 400;
    color: #77619e;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: 0px;
    background: #fff;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #77619e;
    font-size: .8em;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: .8em;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 239px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f1f6;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #77619e;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 5s ease;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    height: 100vh;
    left: 229px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    overflow: auto;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.sidebar.close~.home-section {
    left: 0;
    width: 100%
}

.home-section .home-content {
    height: 60px;
    background: #e4e9f7;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 0px 0px gray;
    border-radius: 0 0 0.3em 0.3em;
}

.up {
    position: fixed;
    display: inline-block;
    text-align: center;
    width: 2rem;
    height: 2rem;
    background-color: #0D9488;
    bottom: 1rem;
    right: 1rem;
    border-radius: 100%;
    animation: puls 2s infinite;
    cursor: pointer;
    transition: background-color .3s, opacity .5s, visibility .5s;
}

@keyframes puls {
    0% {
        box-shadow: 0 0 0 0 #7B1EA1;
    }
    70% {
        box-shadow: 0 0 0 1rem rgba(253, 87, 191, 0);
    }
    100% {
        box-shadow: 0 0 0 0 #7B1EA1;
    }
}

.content {
    font-size: 1em;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #77619e;
    font-size: 1.2em;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 1.2em;
    font-weight: 600;
}

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
    /* .sidebar {
        width: 78px;
    } */
    .sidebar.close {
        width: 0;
    }
    /* .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    } */
    .sidebar.close~.home-section {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 385px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
    /* .sidebar {
        width: 78px;
    } */
    .sidebar.close {
        width: 0;
    }
    /* .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    } */
    .sidebar.close~.home-section {
        width: 100%;
        left: 0;
    }
}

.section_our_solution .row {
    align-items: center;
}

body {
    position: relative;
    min-height: 100vh;
    background-image: url('../Picture1.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.solution_cards_box .solution_card {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 12px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.05);
    z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
}

.solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -50px;
    top: -20px;
    border-radius: 35px;
}

.solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 6px;
    text-align: center;
}

.solution_card .solu_description p {
    font-size: 1em;
    margin-bottom: 8px;
}

.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    margin-right: 1em;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}