* {
    transition: background-color 0.6s ease, color 1s ease;
}

body {
    font-family: Quicksand;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-image: url('../cover.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}