* {
    transition: background-color 0.6s ease, color 1s ease;
}

body {
    font-family: Quicksand;
}

#image {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

a.menu:hover {
    transform: scale(1.01);
}

#image::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: rgba(0, 0, 0, .6);
}

.fa-2x,
svg,
.tab {
    pointer-events: none;
}

i.fa-2x {
    font-size: 1.5rem;
}

.dapus {
    margin-bottom: 7rem;
}

#search-surah {
    border: 1px solid #0a043c;
    color: #0a043c;
}

.bg-link:first-child,
.bg-link:nth-child(2),
.bg-link:last-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.bg-link {
    background: rgba(15, 26, 32, .8);
    color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transition: all .5s;
}

.container {
    min-height: 90vh;
    margin-bottom: 4rem;
    font-family: Quicksand;
}

.mt-4.bold.w-full.font-sans {
    margin-bottom: 6rem;
}

@media(min-width: 360px) {
    .container {
        margin-bottom: 2rem;
    }
}

.z-0 {
    z-index: -1 !important;
}

.app-layout {
    max-width: 500px;
}

#tabs {
    width: 500px;
}

.title {
    width: 90%;
}

.title {
    margin: 1em auto;
    font-size: 2rem;
    text-align: center;
}

.card {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.surah-header {
    height: 30px;
    width: 30px;
    font-size: small;
    line-height: 30px;
    background: #c8cbcd;
    color: #03506f;
}

i.fas.fa-search {
    color: #03506f;
}

details {
    user-select: none;
}

summary svg {
    transform: rotate(90deg);
}

details[open]>summary svg {
    transform: rotate(-90deg);
}

details[open] summary~* {
    animation: ease-opacity-t-b 5s ease
}

.preve:hover,
.menu {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
}


/*
loader
*/

.loader span {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .9);
    transform: scale(.1);
    border-radius: 20%;
    animation: 1s animate infinite;
}

@keyframes animate {
    50% {
        transform: scale(1);
        border-radius: 50%;
    }
}

.loader span:nth-child(1) {
    background: #f4fa9c;
    animation-delay: .8s;
}

.loader span:nth-child(2) {
    background: #f469a9;
    animation-delay: 1.6s;
}

.loader span:nth-child(3) {
    background: #88bef5;
    animation-delay: 2.4s;
}

.switch {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch div {
    position: relative;
    display: block;
    background: #eee;
    width: 30px;
    border-radius: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.fa-adjust {
    transform: rotate(180deg);
}

.switch input {
    display: none;
}

.slider {
    background-color: #999;
    transition: 0.4s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
}

input:checked+.slider {
    transform: translateX(8px);
}

.sm {
    display: flex;
}

.sm a {
    margin: 0 20px;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 24px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .15), -6px -6px 12px rgba(255, 255, 255, .1);
    font-size: 28px;
    transition: .3s linear;
}

.sm a:hover {
    transform: scale(1.3);
    border-radius: 50%;
}

.sm a i::before {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 75% 75%;
    top: 0;
    left: 0;
    line-height: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .5s linear;
}

.sm a:hover i::before {
    background-position: 0% 0%;
}

sm a:hover i::before {
    background-position: 0% 0%;
}